<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style/mystyle.css">
    <script src="script/live-reload.js"></script>
</head>
<body class="grønn">
    <center>
        <div>
            <h1 class="tekst">DONT BE LIKE EGIL JOHNSEN DAHLE & RUNE LANGHELLE, DON'T DRINK AND DRIVE!</h1>
        </div>
        <div>
            <img src="image/EgilOgRuneKjører.png" alt="" style="width: 600px;">
        </div>
    </center>
</body>
</html>